/*---------------------------------------------------------- HEADER-----------------------------------------*/
.header{
    margin-top:7px;
    font-size:0.8em;
    color:#f3ca06;
    font-style: italic;
}
.header a{
    font-size:0.8em;
    color:#f3ca06;
    font-style: italic;
}
/*----------------------------------------------------------GENERAL STRUCTURE-----------------------------------------*/
body{
    background-color: #626262;
}
.maincontainer{
    background-color: #626262;
    /*margin-top:10px;*/
    width:100%;
    box-shadow: 0px 2px 7px 4px #424242;
}
.footer p{
    display:none;
}
/*----------------------------------------------------------MENU TOP-----------------------------------------*/
.titlerow, .titlerowresponsive{   
    color:#f3ca06;
    padding-top:5px;
    padding-left:25px;
    width:100%;
    line-height: 5px;
}
.titlerowresponsive{
    display:none;
}
.titlerowmarc, .titlerowmarcStatic{
    background-color: black;
    border: 1px solid #626262;
    height:50px;
    padding-top:10px;
    line-height:10px;
}
.titlerowothermenus,.titlerowothermenusStatic{
    background-color: black;
    height:50px;
    color:#f3ca06;
    border: 1px solid #626262;
    padding-top:30px;
    line-height:10px;
}
.titlerowothermenus:hover,.titlerowothermenusStatic:hover{
    background-color: #f3ca06;
    height:50px;
    color:black;
    border: 1px solid #626262;
    padding-top:30px;
}
/*----------------------------------------------------------MENU: special part for social networks -----------------------------------------*/
.titlerowsocialnetwork{
    background-color: black;
    height:50px;
    color:#f3ca06;
    border: 1px solid #626262;
    line-height:10px;
}
.facebook, .soundcloud{
    width:50%;
    height:100%;
    padding-top:20px;
}
.facebook{
    float:left;
}
.soundcloud{
    float:right;
}
.facebook img, .soundcloud img{
    width:30px;
}
.hovericon{
    display:none;
}
.facebook:hover .hovericon{
    display:inline-block;
}
.soundcloud:hover .hovericon{
    display:inline-block;
}
.facebook:hover .nothovericon{
    display:none;
}
.soundcloud:hover .nothovericon{
    display:none;
}
/*----------------------------------------------------------MENU: specialcontact part for contact -----------------------------------------*/
.titlecontactPortable,.titlecontactPortableStatic,.titlecontactMail,.titlecontactMailStatic, .titlecontact{
    background-color: #f3ca06;
    color:black;
    border: 1px solid #626262;
    padding-top:20px;
    width:100%;
    height:50px;
}
@media screen and (min-width: 200px) and (max-width: 331px){
    .titlecontactPortable{
        height:70px;
        line-height:15px;
    }
}
@media screen and (min-width: 200px) and (max-width: 352px){
    .titlecontactMail{
        height:70px;
        line-height:15px;
    }
}
@media screen and (min-width: 200px) and (max-width: 349px){
    .titlecontactPortableStatic{
        height:70px;
        line-height:15px;
    }
}
@media screen and (min-width: 200px) and (max-width: 399px){
    .titlecontactMailStatic{
        height:70px;
        line-height:15px;
    }
}
/*---------------------------------------------------------- SUBTITLES -----------------------------------------*/
.subtitlerow, .subtitlerowresponsive{   
    margin-top:15px;
    padding-left:40px;
    padding-right:15px;
    width:100%;
}
.subtitlerow .subtitle, .subtitlerowresponsive .subtitle{
    background-color: #424242;
    height:30px;
    color:#f3ca06;
    padding-top:1px;
}
/*----------------------------------------------------------FONTS SETTINGS-----------------------------------------*/
@font-face {
    font-family: 'almontewoodgrain';
    src: url("../fonts/almontewoodgrain.woff"); 
}	
@font-face {
    font-family: "almontewoodgrainie";
    src: url('../fonts/almontewoodgrainie.eot'); 
}	
@font-face {
    font-family: 'microgbe';
    src: url("../fonts/microgbe.otf"); 
}
@font-face {
    font-family: "microgbeie";
    src: url('../fonts/microgbe.eot'); 
}
@font-face{
    font-family: "microgme";
    src: url("../fonts/microgme.otf");
}
@font-face{
    font-family: "microgmeie";
    src: url('../fonts/microgme.eot');
}
.titlerowmarc, .titlerowmarcStatic{
    font-family:"microgme", "microgmeie";
}
.titlerowothermenus,.titlerowothermenusStatic, .titlecontactPortable, .titlecontactPortableStatic, .titlecontactMail, .titlecontactMailStatic, .titlecontact{
    font-family:"microgbe", "microgbeie";
    letter-spacing:1px;
}
.marcsubtitle, .marcsubtitle2, .marcsubtitle3{
    font-size: 0.9em;
    font-weight: lighter;
    color:#f3ca06;
    letter-spacing:2px;
}
.marc{
    font-family:"microgbe", "microgbeie";
    font-size:1.5em;
    color:white;
    letter-spacing:4px;
}
.subtitlerow, .subtitlerowresponsive{
    font-family:"almontewoodgrain", "almontewoodgrainie";
    font-size:1.4em;
    font-style: italic;
    color:#f3ca06;
}
/*----------------------------------------------------------ROW OF SLIDER  -----------------------------------------*/
.sliderrow{   
    margin-top:5px;
    padding-left:50px;
    padding-right:25px;
    width:100%;
}
/*----------------------------------------------------------SLIDER HOVER SPECIFICITIES -----------------------------------------*/
.overlay {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(134, 134, 134);  
    padding-left:5px;
    padding-right: 5px;
    padding-top:5px;
 }
 .swiper-slide:hover .overlay {
   display: block;
   background-color: 868686;
   opacity:0.85;
   font-size:1.2em;
   letter-spacing: 0.5px;
 }
 .album:hover .overlay {
    display: block;
    background-color: 868686;
    opacity:0.85;
    font-size:1.1em;
    letter-spacing:0.5px;
  }
  .album3:hover .overlay {
    display: block;
    background-color: 868686;
    opacity:0.85;
    font-size:1.1em;
    letter-spacing:0.5px;
  }
.album2:hover .overlay {
    display: block;
    background-color: 868686;
    opacity:0.85;
    font-size:0.95em;
    letter-spacing:0.5px;
  }
  .album4:hover .overlay {
    display: block;
    background-color: 868686;
    opacity:0.85;
    font-size:0.95em;
    letter-spacing:0.5px;
  }
 .hoverpersotext{
     height:80%;
     line-height: initial;
 }
 .hoverpersolinks{
     color:#f3ca06;
     height:20%;
 }
 .hoverpersolinks img{
    height:75%;
}
 .hoverpersoproject,  .hoverpersofunction,  .hoverpersocustomer, .hoverpersooption{
    font-size:0.7em;
 }
 .hoverpersoproject{
     color:#ffffff;
     font-family:"microgbe", "microgbeie";
 }
 .hoverpersofunction{
     color:#f3ca06;
     font-family:"microgme", "microgmeie";
     letter-spacing:1px;
 }
 .hoverpersocustomer{
    color:#000000;
    font-family:"microgbe", "microgbeie";
}
.hoverpersooption{
    color:#ffffff;
    font-family:"microgme", "microgmeie";
}
 .linksleftvisible{
	width:33%;
	float:left;
    height:100%;
}
.linksrightvisible{
	width:66%;
	float:right;
    height:100%;
}
.linksrightvisible img{
	padding-right:5px;
}
.linksrighthidden, .linkslefthidden, .linksmiddlehidden{
    display:none;
}
/*----------------------------------------------------------SLIDER SPECIAL CORRECTIONS FROM ORIGINAL CSS--------------------------------------*/
.swiper-container s1, .swiper-container s2, .swiper-container s3, .swiper-container s4 {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    cursor:grab;
}
.album, .album2, .album3, .album4 {
    background-position: center;
    background-size: cover;
    height: 117px;
    width: 117px;
}
.horizontalaffiche {
    background-position: center;
    background-size: cover;
    width: 239px;
    height: 160px;
}
.verticalaffiche {
    background-position: center;
    background-size: cover;
    width: 117px;
    height: 160px;
}
.swiper-button-next-s1, .swiper-button-next-s2, .swiper-button-next-s3, .swiper-button-next-s4 {
    position: absolute;
    top: 50%;
    right: -10px;
    width: 20px;
    height: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-top: 0px;
    background-color:#868686;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.swiper-button-prev-s1, .swiper-button-prev-s2, .swiper-button-prev-s3, .swiper-button-prev-s4 {
    position: absolute;
    top: 50%;
    left: -10px;
    width: 20px;
    height: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin-top: 0px;
    background-color:#868686;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.swiper-button-prev-s1.swiper-button-disabled, .swiper-button-prev-s2.swiper-button-disabled, .swiper-button-prev-s3.swiper-button-disabled, .swiper-button-prev-s4.swiper-button-disabled,
.swiper-button-next-s1.swiper-button-disabled, .swiper-button-next-s2.swiper-button-disabled, .swiper-button-next-s3.swiper-button-disabled, .swiper-button-next-s4.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev-s1,.swiper-button-prev-s2,.swiper-button-prev-s3,.swiper-button-prev-s4,
.swiper-container-rtl .swiper-button-next-s1, .swiper-container-rtl .swiper-button-next-s2, .swiper-container-rtl .swiper-button-next-s3, .swiper-container-rtl .swiper-button-next-s4  {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  /*left: 10px;
  right: auto;*/
}
.swiper-button-next-s1, .swiper-button-next-s2, .swiper-button-next-s3, .swiper-button-next-s4,
.swiper-container-rtl .swiper-button-prev-s1, .swiper-container-rtl .swiper-button-prev-s2, .swiper-container-rtl .swiper-button-prev-s3, .swiper-container-rtl .swiper-button-prev-s4 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  /*right: 10px;
  left: auto;*/
}
/*----------------------------------------------------------RESPONSIVE DESIGN --------------------------------------*/
@media screen and (min-width: 200px) and (max-width: 332px){
    .album, .album2, .album3, .album4 {
        background-position: center;
        background-size: cover;
        height: 102px;
        width: 102px;
    }
    .horizontalaffiche {
        background-position: center;
        background-size: cover;
        width: 209px;
        height: 140px;
    }
    .verticalaffiche {
        background-position: center;
        background-size: cover;
        width: 102px;
        height: 140px;
    }
    .swiper-slide:hover .overlay {
        font-size:1.1em;
      }
    .album:hover .overlay {
        font-size:1.1em;
      }
    .album2:hover .overlay {
        font-size:0.85em;
      }
    .album3:hover .overlay {
        font-size:0.90em;
      }
    .album4:hover .overlay {
        font-size:0.8em;
    }
    .subtitlerowresponsive{
        font-size:1.3em;
    }
}
@media screen and (min-width: 200px) and (max-width: 767px){
    .subtitlerow, .subtitlerowresponsive, .subtitlerowresponsiveup, .subtitlerowresponsivedown{
        padding-left:25px;
        padding-right:0px;
    }
    .sliderrow{
        padding-left:35px;
        padding-right:10px;
    }
    .container{
        padding-right:0px;
        border:none;
        margin-right:0px;
        width:100%;    
    }
    .marc, .marcsubtitle {
        line-height:20px;
    }
}
@media screen and (min-width: 200px) and (max-width: 767px){
    .maincontainer{
        background-color: #626262;
        /*margin-top:10px;*/
        width:100%;
        box-shadow: none;
    }
}
@media screen and (min-width: 200px) and (max-width: 360px){
    .titlerowmarc{
        height:110px;
    }
}
@media screen and (min-width: 361px) and (max-width: 404px){
    .titlerowmarc{
        height:90px;
    }
}
@media screen and (min-width: 405px) and (max-width: 767px){
    .titlerowmarc{
        height:70px;
    }
}
@media screen and (min-width: 405px) and (max-width: 449px){
    .titlerowothermenus{
        height:20px;
        padding-top:2px;
    }
}
@media screen and (min-width: 200px) and (max-width: 767px){
    .marc, .marcsubtitle{
        text-align:center;
    }
    .titlerowothermenus,.titlerowothermenusStatic{
        height:40px;
        padding-top:12px;
        text-align:center; 
    }
    .titlerowothermenus:hover,.titlerowothermenusStatic:hover{
        background-color: #f3ca06;
        height:40px;
        color:black;
        border: 1px solid #626262;
        padding-top:12px;
    }
    .titlerowsocialnetwork{
        text-align:center; 
        height:40px;
    }
    .facebook, .soundcloud{
        width:50%;
        height:100%;
        padding-top:5px;
    }
    .subtitlerow, .subtitlerowresponsive{
        text-align:center;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .titlerowresponsive{
        display:block;
    }
    .titlerow{
        display:none;
    }
    .titlerowothermenus,.titlerowothermenusStatic{
        height:35px;
        padding-top:10px;
    }
    .titlerowothermenus:hover,.titlerowothermenusStatic:hover{
        height:35px;
        padding-top:10px;
    }
    .titlerowmarc, .titlerowmarcStatic{
        height:70px;
    }
    .marcsubtitle2, .marcsubtitle3{
        line-height:10px;
    }
    .facebook, .soundcloud{
        padding-top:0px;
    }
    .titlerowsocialnetwork{
        padding-top:0px;   
        height:35px; 
    }
}
@media screen and (min-width: 993px) and (max-width: 1200px){
    .facebook img, .soundcloud img{
        width:20px;
        padding-top:5px;
    }
}
@media screen and (min-width: 1440px){
    .album, .album2, .album3, .album4 {
        background-position: center;
        background-size: cover;
        height: 170px;
        width: 170px;
    }
    .horizontalaffiche {
        background-position: center;
        background-size: cover;
        width: 345px;
        height: 230px;
    }
    .verticalaffiche {
        background-position: center;
        background-size: cover;
        width: 170px;
        height: 230px;
    }
    .album:hover .overlay {
        font-size:1.5em;
      }
    .album2:hover .overlay {
        font-size:1.5em;
      }
    .album3:hover .overlay {
        font-size:1.5em;
      }
    .album4:hover .overlay {
        font-size:1.45em;
      }
    .verticalaffiche:hover .overlay {
        font-size:1.5em;
      }
    .horizontalaffiche:hover .overlay {
        font-size:1.5em;
      }
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/*----------------------------------------------------------PAGE ABOUT -----------------------------------------------------------------------*/
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/*---------------------------------------------------------- GENERAL -----------------------------------------------------------------------*/
.about{
    font-family:"microgme", "microgmeie";
    letter-spacing:1px;
    color:white;
    margin-left:12px;
    padding-top:5px;
    margin-right:16px;
}
.about img{
    width:100%;
}
#visualizationTimeline{
    padding:15px 15px 15px 15px;
}
.vis-time-axis {
    background-color: #868686;
    font-size: 1em;
}

.vis-time-axis .vis-text {
    color: white;
}

.vis-item {
    font-size: 0.8em;
}
.about h1{
    font-size:1.2em;
    font-family:"microgbe", "microgbeie";
    color:#f3ca06;
}
.about h2{
    font-size:1.1em;
    font-family:"microgme", "microgmeie";
    color:#000000
}
.about b{
    font-family:"microgme", "microgmeie";
    color:#000000
}
.aboutanchor{
    font-family:"microgme", "microgmeie";
    color:white;
    margin-left:12px;
    padding-top:5px;
    margin-right:16px;
}
.aboutanchor table{
    border-top : 1px solid white;
    border-bottom : 1px solid white;
}
.aboutanchor a{
    color:white;
}
.backtop a{
    color:white;
    font-family: "microgme";
    text-decoration: underline overline;
}
.backtop{
    margin-top:15px;
}
.listematosp{
    font-size:1.2em;
    color: #f3ca06;
}
/*----------------------------------------------------------PHOTOSWIPE -----------------------------------------------------------------------*/
.my-gallery {
    width: 100%;
    float: left;
  }
  .my-gallery img {
    width: 100%;
    height: auto;
  }
  .my-gallery figure {
    display: block;
    float: left;
    margin: 0 6px 6px 0;
    width: 150px;
  }
  .my-gallery figcaption {
    display: none;
  }

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/*----------------------------------------------------------PAGE STATIC -----------------------------------------------------------------------*/
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/
/*---------------------------------------------------------- GENERAL -----------------------------------------------------------------------*/
.static-slide-album, .static-slide-film-v, .static-slide-film-h, .static-slide-album2, .static-slide-album3{
    float:left;
    border:2.5px #626262 solid;
}
@media (max-width: 549px) {
    .staticleft{
        float:left;
        width: 100%;
    }
    .staticright{
        float:right;
        width: 100%;
    }
}
@media (min-width: 550px) {
    .staticleft{
        float:left;
        width: 49%;
    }
    .staticright{
        float:right;
        width: 49%;
    }
}
/*---------------------------------------------------------- RESPONSIVE DESIGN -----------------------------------------------------------------------*/
@media (max-width: 299px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 234px;
        height: 156px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 117px;
        height: 156px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 117px;
        height: 117px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.25em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:0.95em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:0.90em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 300px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 246px;
        height: 164px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 123px;
        height: 164px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 123px;
        height: 123px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.25em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:0.95em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 350px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 296px;
        height: 197px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 148px;
        height: 197px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 148px;
        height: 148px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.3em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 400px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 230px;
        height: 153px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 115px;
        height: 153px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 115px;
        height: 115px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.05em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:0.95em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:0.9em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 450px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 262px;
        height: 174px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 131px;
        height: 174px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 131px;
        height: 131px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.3em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 500px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 295px;
        height: 196px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 147.5px;
        height: 196px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 147.5px;
        height: 147.5px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.3em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.3em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 550px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 240px;
        height: 160px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 120px;
        height: 160px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 120px;
        height: 120px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.3em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:0.95em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 600px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 264px;
        height: 176px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 132px;
        height: 176px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 132px;
        height: 132px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.3em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.05em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 650px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 288px;
        height: 192px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 144px;
        height: 192px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 144px;
        height: 144px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.3em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.15em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 700px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 312px;
        height: 222px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 156px;
        height: 222px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 156px;
        height: 156px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.3em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 768px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 350px;
        height: 233px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 175px;
        height: 233px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 175px;
        height: 175px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 850px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 256px;
        height: 170px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 128px;
        height: 170px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 128px;
        height: 128px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 910px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 275px;
        height: 183px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 137.5px;
        height: 183px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 137.5px;
        height: 137.5px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.05em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 992px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 302px;
        height: 201px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 151px;
        height: 201px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 151px;
        height: 151px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay, .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px;
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.15em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.15em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 1050px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 240px;
        height: 160px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 120px;
        height: 160px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 120px;
        height: 120px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:0.90em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 1200px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 275px;
        height: 183px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 137.5px;
        height: 183px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 137.5px;
        height: 137.5px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay, .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px;
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.1em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.07em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 1400px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 323px;
        height: 215px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 161.5px;
        height: 215px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 161.5px;
        height: 161.5px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.3em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 1600px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 247px;
        height: 164px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 123.5px;
        height: 164px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 148.5px;
        height: 148.5px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.3em;
        letter-spacing: 0.5px;
    }
    .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.3em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.3em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.2em;
        letter-spacing: 0.5px; 
    }
}
@media (min-width: 1800px) {
    .static-slide-film-h{
        background-position: center;
        background-size: cover;
        width: 279px;
        height: 186px;
    }
    .static-slide-film-v{
        background-position: center;
        background-size: cover;
        width: 139.5px;
        height: 186px;
    }
    .static-slide-album, .static-slide-album2, .static-slide-album3{
        background-position: center;
        background-size: cover;
        width: 167.5px;
        height: 167.5px;
    }
    .static-slide-film-h:hover .overlay, .static-slide-film-v:hover .overlay, .static-slide-album:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px;
    }
    .static-slide-album2:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px; 
    }
    .static-slide-album3:hover .overlay{
        display: block;
        background-color: 868686;
        opacity:0.85;
        font-size:1.4em;
        letter-spacing: 0.5px; 
    }
}
@media screen and (min-width: 200px)  and (max-width: 299px){
    .subtitlestaticresponsive{   
        margin-top:15px;
        margin-bottom:5px;
        width:100%;
        background-color: #424242;
        height:30px;
        color:#f3ca06;
        padding-top:1px;
        font-family:"almontewoodgrain", "almontewoodgrainie";
        font-size:1.25em;
        font-style: italic;
    }
    .subtitlestatic{
        display:none;
    }
}
@media screen and (min-width: 299px) and (max-width: 766px){
    .subtitlestaticresponsive{   
        margin-top:15px;
        margin-bottom:5px;
        width:100%;
        background-color: #424242;
        height:30px;
        color:#f3ca06;
        padding-top:1px;
        font-family:"almontewoodgrain", "almontewoodgrainie";
        font-size:1.4em;
        font-style: italic;
        padding-left:10px;
    }
    .subtitlestatic{
        display:none;
    }
}
@media screen and (min-width: 767px) {
    .subtitlestatic{   
        margin-top:15px;
        margin-bottom:5px;
        width:100%;
        background-color: #424242;
        height:30px;
        color:#f3ca06;
        padding-top:1px;
        font-family:"almontewoodgrain", "almontewoodgrainie";
        font-size:1.4em;
        font-style: italic;
        padding-left:10px;
    }
    .subtitlestaticresponsive{
        display:none;
    }
}
@media screen and (min-width: 200px) and (max-width: 399px){
    .titlerowmarcStatic{
        height:110px;
    }
}
@media screen and (min-width: 400px) and (max-width: 449px){
    .titlerowmarcStatic{
        height:90px;
    }
}
@media screen and (min-width: 450px) and (max-width: 767px){
    .titlerowmarcStatic{
        height:70px;
    }
}
@media screen and (min-width: 405px) and (max-width: 440px){
    .titlerowothermenusStatic{
        height:40px;
        padding-top:12px;
    }
}
